@model Board
@inject IBoardRepository DnnRepo

@{
    ViewData["Title"] = "Detail";
}

    <div style="width:700px; padding:0px; margin:auto;">
        <table style="width:700px; margin-left:auto; margin-right:auto;">
            <tbody>
                <tr style="color: white; background-color: #5E8680; text-align:center;">
                    <td colspan="4" style="height: 35px;">
                        <span style="font-weight:bold;font-size:16px;">
                            제목 : @Model.Title
                        </span>
                    </td>
                </tr>
                <tr style="background-color:#efefef;">
                    <td class="text-right" style="width:15%;">
                        번 호 :
                    </td>
                    <td style="width:35%; font-size:14px;">
                        <span style="font-size:14px;">@Model.Id</span>
                    </td>
                    <td class="text-right" style="width:15%; font-size:14px;">
                        작성일 :
                    </td>
                    <td style="width:35%;">
                        <span style="font-size:15px; text-align:left;">@Model.PostDate</span>
                    </td>
                </tr>
                <tr style="background-color:#efefef;">
                    <td class="text-right" style="width:15%; font-size:14px;">
                        작성자 :
                    </td>
                    <td colspan="3">
                        <span style="font-size:14px;">@Model.Name</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding: 10px; height: 100px; vertical-align:top;">
                        @Model.Content
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />

        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-default">
            삭제
        </a>
        @*<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">
            수정
        </a>*@


        <div style="margin:auto;">
            <input type="button" value="목록" id="btnClose" />
        </div>
    </div>



@section Scripts{
    <script>
        $("#btnClose").click(function () {
            $(location).attr('href', '/Board/Index');
        });
    </script>
}

 
