@model Board
@inject IBoardRepository DnnRepo

@{
    ViewData["Title"] = "Detail";
}
<h2 style="text-align:center;">게시판</h2>
<hr />

<div style="width:700px; padding:0px; margin:auto;">
    <table style="width:700px; margin-left:auto; margin-right:auto;">
        <tbody>
            <tr style="color: white; background-color: #5E8680; text-align:center;">
                <td colspan="4" style="height: 35px;">
                    <span style="font-weight:bold;font-size:16px;">
                        제목 : @Model.Title
                    </span>
                </td>
            </tr>
            <tr style="background-color:#efefef;">
                <td class="text-right" style="width:15%;font-size:13px;">
                    번 호 :
                </td>
                <td style="width:35%; font-size:13px;">
                    <span style="font-size:13px;">@Model.Id</span>
                </td>
                <td class="text-right" style="width:15%; font-size:13px;">
                    작성일 :
                </td>
                <td style="width:35%;">
                    <span style="font-size:13px; text-align:left;">@Model.PostDate</span>
                </td>
            </tr>
            <tr style="background-color:#efefef;">
                <td class="text-right" style="width:15%; font-size:13px;">
                    작성자 :
                </td>
                <td style="width:35%; font-size:14px;">
                    <span style="font-size:13px;">@Model.Name</span>
                </td>
                <td class="text-right" style="width:15%; font-size:13px;">
                    첨부파일 :
                </td>
                <td style="width:35%;">
                    <span style="font-size:13px; text-align:left; color: gray;">@Html.Raw(ViewBag.FileName)</span>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="padding: 10px; height: 100px; vertical-align:top;">
                    @Model.Content
                </td>
            </tr>            
            <tr>
                <td colspan="4" style="padding: 10px; height: 100px; vertical-align:top;">
                    @Html.Raw(ViewBag.ImageDown)
                    
                </td>
            </tr>

        </tbody>
    </table>
    <br />
    <br />

    <div style="margin-left: 250px;">
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-default">
            삭제
        </a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">
            수정
        </a>
        <a asp-action="Index" class="btn btn-default">리스트</a>
    </div>

</div>



